@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
  font-family: 'League Spartan', 'League';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}



::-webkit-scrollbar {
  width: 5px;
  background-color: #010002;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: blueviolet;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(137, 43, 226, 0.637);
  transition: background 2s ease;
}